.f-l{
    float: left;
}
.chartjs-chart{
    height: 320px;
}
.sidebar{
    background: #000000e6;
}
.card {
    border: none;
    /* -webkit-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15); */
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    margin-bottom: 10px;
}
.pad-0 {
    padding-right: 0px;
    padding-left: 0px;
}
.pad-5 {
    padding-right: 5px;
    padding-left: 5px;
}
.pad-left-5{
 padding-left: 5px;
}
.pad-right-5{
  padding-right: 5px;
}
.m-t-10{
    margin-top:10px
}

ul.navigationUl {
    list-style-type: none;
    float: left;
}
ul.navigationUl li {
    float: left;
     margin: 8px;
}
ul.navigationUl li a {
    color: #585c63;
    font-weight: bold;
}

select.form-control.form-control-light.toggle-color {
    color: #585c63;
    font-weight: bold;
}

.p-a {
    position: absolute;
}
